<!-- The Content Heading -->
<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/') 
} %>

<!-- Flash message -->
<%- messages() %>

<!-- Error messages -->
<% if (errors) { %>
  <ul class="notice">
 <% errors.array().forEach(error => { %>
   <li><%= error.msg %></li>
<%  }) %>
 </ul>
<% } %>

<!-- Update Forms-->
<div class="form-container">
  <!-- Account Update Form -->
   <h2>Update Account</h2>
  <form action="/account/update" method="POST" class="account-form updateForm">
    <label>First name:
    <input
      type="text"
      name="account_firstname"
      required
      value="<%= account_firstname %>"
    >
    </label>

    <label>Last name:
    <input
      type="text"
      name="account_lastname"
      required
      value="<%= account_lastname %>"
    >
    </label>

    <label>Email:
    <input
      type="email"
      name="account_email"
      required
      value="<%= account_email %>"
    >
    </label>

    <input type="submit" value="Update Account" disabled>
    <input type="hidden" name="account_id"
    <% if(locals.account_id) { %> value="<%= locals.account_id %>"
    <% } %>>
  </form>

  <!-- Change Password Form -->
   <h2>Change Password</h2>
  <form action="/account/change-password" method="POST" class="account-form updateForm">
    <label>New Password: (This will change the current password)
      <span class="notice">Must be at least 12 characters long, and must include 1 capital letter, 1 number, and 1 special character.</span> 
    <input
      id="pword"
      type="password"
      name="account_password"
      required
      pattern="(?=.*\d)(?=.*[A-Z])(?=.*[a-z])(?=.*[!@#$%^&*]).{12,}"
      title="At least 12 characters long, and must include 1 capital letter, 1 number, and 1 special character."
    >
    <span id="pswdBtn">Show</span>
    </label>

    <input type="submit" value="Change Password" disabled>
    <input type="hidden" name="account_id"
    <% if(locals.account_id) { %> value="<%= locals.account_id %>"
    <% } %>>
  </form>
</div>

<script src="/js/script.js"></script>
<script src="/js/inv-update.js"></script>