<!-- The Content Heading -->
<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/') 
} %>

<!-- Flash message -->
<%- messages() %>

<!-- Error messages -->
<% if (errors) { %>
  <ul class="notice">
 <% errors.array().forEach(error => { %>
   <li><%= error.msg %></li>
<%  }) %>
 </ul>
<% } %>

<!-- Inventory form -->
<div class="form-container">
       <form action="/inv/add-inventory" method="POST" id="account-form">
         <label>Make:
         <input
           type="text"
           name="inv_make"
           value="<%= locals.inv_make %>"
           required
           pattern="^[a-zA-Z0-9]+$"
           title="Make name must be alphanumeric characters without spaces"
           placeholder="Vehicle name"
         ></label>
     
         <label>Model:
         <input
           type="text"
           name="inv_model"
           value="<%= locals.inv_model %>"
           required
           title="Model name must be alphanumeric characters without spaces"
           pattern="^[a-zA-Z0-9]+$"
           placeholder="Vehicle model"
         ></label>
     
         <label>Year:
         <input
           type="number"
           name="inv_year"
           value="<%= locals.inv_year %>"
           required
           min="1900"
           max="2100"
           title="Year must be a valid 4-digit number between 1900 and 2100"
           placeholder="4-digit year"
         ></label>
     
         <label>Description:
         <textarea
           name="inv_description"
           required
           placeholder="Enter a brief description of the vehicle"
         ><%= locals.inv_description %></textarea
         ></label>
     
         <label>Price:
         <input
           type="number"
           name="inv_price"
           value="<%= locals.inv_price %>"
           required
           min="0"
           step="0.01"
           title="Price must be a valid number (decimal or interger)"
           placeholder="Decimal or interger"
         ></label>
     
         <label>Miles:
         <input
           type="number"
           name="inv_miles"
           value="<%= locals.inv_miles %>"
           required
           min="0"
           step="1"
           title="Miles must be a positive number"
           placeholder="Positive numbers only"
         ></label>
     
         <label>Color:
         <input
           type="text"
           name="inv_color"
           value="<%= locals.inv_color %>"
           required
           placeholder="Enter the vehicle color"
         ></label>
          
         <label>Classification:
          <%- list %>
         </label>

         <label>Vehicle Image:
         <input
           type="text"
           name="inv_image"
           placeholder="/images/vehicles/no-image.png"
           value="<%= locals.inv_image %>"
           required
           title="Default image for the vehicle"
         ></label>
     
         <label>Vehicle Thumbnail:
         <input
           type="text"
           name="inv_thumbnail"
           placeholder="/images/vehicles/no-image-tn.png"
           value="<%= locals.inv_thumbnail %>"
           required
           title="Default thumbnail image for the vehicle"
         ></label>
     
         <input type="submit" value="Add Vehicle">
       </form>
     </div>
     